In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns 
pd.set_option('display.max_columns', None)

In [3]:
df = pd.read_csv("Inflight Service_Pre order data.csv")

In [4]:
df.head()

,flight_number,departure_station_code,arrival_station_code,record_locator,carrier_code,scheduled_departure_dtl,cabin_code,meal_group,meal_category,meal_short_description,meal_description,is_entree,pre_order_qty
0,1423,INX,DEX,B3XX1H,UA,9/1/2022,J,ENTREES HOT,POULTRY,"Za'atar chicken with spinach, roasted peppers,...","Za'atar chicken with spinach, roasted peppers,...",Y,1
1,1620,IAX,CUX,BFXXJC,UA,9/2/2022,J,ENTREES HOT,BREAKFAST,Tomato and kale baked egg,Tomato and kale baked egg with fire roasted re...,Y,2
2,1852,ORX,PDX,DPXX2H,UA,9/2/2022,J,ENTREES HOT,BREAKFAST,Tomato and kale baked egg,Tomato and kale baked egg with fire roasted re...,Y,1
3,548,IAX,SFX,ELXX8H,UA,9/2/2022,J,ENTREES HOT,BREAKFAST,Scrambled eggs,"Scrambled eggs with ham, onion and peppers",Y,2
4,1155,IAX,CUX,NCXX4S,UA,9/2/2022,J,ENTREES HOT,BREAKFAST,Belgium waffle,Belgium waffle with bourbon banana fosters sau...,Y,2

In [5]:
df.shape

(212039, 13)

In [6]:
df.dropna(inplace = True)

In [7]:
df.shape

(137062, 13)

In [11]:
df = pd.read_csv('Survey data _Customer comments.csv')

In [12]:
df.shape

(9424, 14)

In [13]:
df.isnull().sum()

flight_number                  0
origin_station_code            0
destination_station_code       0
scheduled_departure_date       0
arrival_delay_group            0
departure_delay_group          0
entity                         0
verbatim_text                  0
seat_factor_band               0
ques_verbatim_text             0
loyalty_program_level       2504
fleet_type_description         0
fleet_usage                    0
response_group                 0
dtype: int64

In [14]:
df['loyalty_program_level'].unique()

array(['non-elite', nan, 'premier gold', 'premier 1k', 'premier silver',
       'global services', 'premier platinum', 'NBK'], dtype=object)

In [15]:
df = pd.read_csv('Survey data_Inflight Satisfaction Score.csv')

In [16]:
df.isnull().sum()

flight_number                           0
origin_station_code                     0
destination_station_code                0
record_locator                          0
scheduled_departure_date                0
question_text                           0
score                                   0
satisfaction_type                   12111
driver_sub_group1                       0
driver_sub_group2                       0
arrival_delay_minutes                   0
arrival_delay_group                     0
cabin_code_desc                         0
cabin_name                          19980
entity                                  3
number_of_legs                          0
seat_factor_band                        0
loyalty_program_level               11616
generation                              0
fleet_type_description                  0
fleet_usage                             0
equipment_type_code                     0
ua_uax                                  0
actual_flown_miles                      0
haul_type                               0
departure_gate                         97
arrival_gate                          527
international_domestic_indicator        0
response_group                          0
media_provider                       1539
hub_spoke                               0
dtype: int64

In [17]:
df.shape

(47074, 31)

In [18]:
df = pd.read_csv('Survey data_Inflight Satisfaction Score.csv')

In [20]:
df.shape

(47074, 31)

In [21]:
df.columns

Index(['flight_number', 'origin_station_code', 'destination_station_code',
       'record_locator', 'scheduled_departure_date', 'question_text', 'score',
       'satisfaction_type', 'driver_sub_group1', 'driver_sub_group2',
       'arrival_delay_minutes', 'arrival_delay_group', 'cabin_code_desc',
       'cabin_name', 'entity', 'number_of_legs', 'seat_factor_band',
       'loyalty_program_level', 'generation', 'fleet_type_description',
       'fleet_usage', 'equipment_type_code', 'ua_uax', 'actual_flown_miles',
       'haul_type', 'departure_gate', 'arrival_gate',
       'international_domestic_indicator', 'response_group', 'media_provider',
       'hub_spoke'],
      dtype='object')

In [22]:
from tabulate import tabulate

# Define data for the tables
keywords = ['selection', 'offer']
problems = [
    ["Dissatisfaction with available food selection.",
     "Expectations for broader and diverse food options.",
     "Frustration due to limited choices not catering to varying tastes."],
    ["Passengers seeking more appealing and innovative meal offerings.",
     "Expectations for diverse and unique dishes enhancing the dining experience.",
     "Frustration when meal options don't align with personal preferences."]
]
improvements = [
    ["Conduct surveys and gather feedback for specific preferences.",
     "Enrich the menu with a variety of international and local options.",
     "Collaborate on rotating seasonal menus for diverse tastes."],
    ["Collaborate with culinary experts for creative new dishes.",
     "Introduce special menu items showcasing local cuisine.",
     "Provide customizable meal options for personalization."]
]

# Create and print the tables
for i in range(len(keywords)):
    print(f"**Keyword: {keywords[i]}**")
    table_data = list(zip(problems[i], improvements[i]))
    table = tabulate(table_data, headers=["Problems:", "Improvements:"], tablefmt="grid")
    print(table)
    print("\n")

**Keyword: selection**
+--------------------------------------------------------------------+--------------------------------------------------------------------+
| Problems:                                                          | Improvements:                                                      |
+====================================================================+====================================================================+
| Dissatisfaction with available food selection.                     | Conduct surveys and gather feedback for specific preferences.      |
+--------------------------------------------------------------------+--------------------------------------------------------------------+
| Expectations for broader and diverse food options.                 | Enrich the menu with a variety of international and local options. |
+--------------------------------------------------------------------+--------------------------------------------------------------------+
| Frustration due to limited choices not catering to varying tastes. | Collaborate on rotating seasonal menus for diverse tastes.         |
+--------------------------------------------------------------------+--------------------------------------------------------------------+


**Keyword: offer**
+-----------------------------------------------------------------------------+------------------------------------------------------------+
| Problems:                                                                   | Improvements:                                              |
+=============================================================================+============================================================+
| Passengers seeking more appealing and innovative meal offerings.            | Collaborate with culinary experts for creative new dishes. |
+-----------------------------------------------------------------------------+------------------------------------------------------------+
| Expectations for diverse and unique dishes enhancing the dining experience. | Introduce special menu items showcasing local cuisine.     |
+-----------------------------------------------------------------------------+------------------------------------------------------------+
| Frustration when meal options don't align with personal preferences.        | Provide customizable meal options for personalization.     |
+-----------------------------------------------------------------------------+------------------------------------------------------------+